 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font: 13px Helvetica, Arial;
 }
 
 .msgContainer {
     width: 100%;
     position: fixed;
     bottom: 0px;
     background: #111;
     display: flex;
 }
 
 .msgInput {
     flex: 1;
     margin: 5px 5px;
     height: 30px;
     border: none;
 }
 
 .msgSubmitBtn {
     width: 200px;
     height: 30px;
     padding: 5px 5px;
     margin: 5px 5px;
     background: #eee;
     border: none;
 }
 
 .msgSubmitBtn:active {
     background: #aaa;
 }
 
 .msgBox {
     position: absolute;
     top: 0;
     bottom: 5%;
     width: 100%;
     margin-bottom: 10px;
     padding: 0;
     list-style-type: none;
     overflow: auto;
 }
 
 .msgBox li {
     padding: 5px 10px;
 }
 
 .msgBox li .name {
     font-weight: bold;
 }
 
 .msgBox li:nth-child(odd) {
     background: #eee;
 }